body {
	font-size: 100%;
	font-family: 'Berkeley Mono', monospace;
}
h1 {
	font-size: 1.25em;
}
h2 {
	font-size: 1.1em;
}
h3 {
	font-size: 0.9em;
}
p {
	font-size: 0.775em;
}
img {
	/* add rounded corners to images */
	border-radius: 1.0em;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}

.header {
	border: 1px solid darkslategray;
	padding: 0.5em;
	display: grid;
	grid-template-columns: 1fr 200px;
	max-height: 200px;
	border-radius: 1.0em;
}

.header h1 {
	margin: 0;
}

.header > img {
	grid-column: 2;
	grid-row: 1 / 3;
	max-height: 200px;
	justify-self: flex-end;
}

.header p {
	font-size: 1em;
	margin: 0;
	grid-column: 1;
}

.header .inner {
	grid: 2/3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 0.8em;
}
.box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}